.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layoutWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .header {
    align-items: baseline;
  }
}
