@value globalVars: "../../styles/globalVars.module.css";
@value borderRules, rightPad, headerFontSize from globalVars;

.postList {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.postOuterWrapper {
  border-bottom: borderRules;
  padding-bottom: 1.8rem;
}

.postFlex {
  composes: post_user_card from "../../styles/styles.css";
}

.postFlex__text {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.postHeader {
  display: flex;
  gap: 0.8rem;
}

.postHeader__bold {
  word-break: break-all;
  font-weight: 700;
  font-size: 0.8rem;
}

.postHeader__editReminder {
  font-weight: 400;
  font-size: 0.6875rem;
  font-style: italic;
}

.postFlex__userControls {
  margin-left: auto;
  display: flex;
  gap: 0.4rem;
  align-self: center;
}

.userControl {
  width: headerFontSize;
  height: headerFontSize;

  & svg {
    width: headerFontSize;
    height: auto;

    &:hover {
      filter: drop-shadow(1px 1px 5px #fff);
    }
  }
}

.svgBtn {
  composes: svgControls from "../../styles/styles.css";
}

.post {
  font-size: 1.125rem;
  line-height: 1.2;
}

.postImg {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.editWrapper {
  position: relative;
}

.editWrapper__labelText {
  position: absolute;
  background-color: #0b0b0b;
  top: -10px;
  left: 5px;
  font-size: 12px;
}

.editWrapper__textarea {
  color: inherit;
  background-color: inherit;
  width: 100%;
  padding: 0.6rem 0.5rem 0.2rem;
  resize: none;
  font-family: inherit;
  border-radius: 8px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .postFlex {
    padding-right: rightPad;
  }
}
