@font-face {
  font-family: Mukta;
  src: url("./assets/fonts/Mukta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Mukta;
  src: url("./assets/fonts/Mukta-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Mukta;
  src: url("./assets/fonts/Mukta-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Mukta;
  src: url("./assets/fonts/Mukta-Bold.ttf") format("truetype");
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #0b0b0b;
  color: #f2f2f2;
}

body {
  font-family: Mukta, "Courier New", Courier, monospace;
}
